<form [formGroup]="taskCreationForm" (ngSubmit)="createTask()">
    
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput type="text" name="title" id="title" formControlName="title">
    </mat-form-field>

    <br>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select name="userTaskTypeId" id="userTaskTypeId" formControlName="userTaskTypeId">
            <mat-option *ngFor="let taskType of taskTypes" 
                [value]="taskType.userTaskTypeId">
                {{ taskType.title }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput 
            name="description" 
            id="description"
            [rows]="descAreaRowsNumber"
            formControlName="description">
        </textarea>
    </mat-form-field>

    <br>

    <button mat-flat-button
        color="primary"
        class="full-width">
        Send
    </button>
</form>