<mat-toolbar class="toolbar">
    <span>Task Manager</span>
</mat-toolbar>

<mat-form-field appearance="outline" id="userTaskSearch" class="full-width">
    <input matInput
        type="search" 
        name="userTask" 
        id="userTask"
        [(ngModel)]="searchQuery">
    <mat-icon matSuffix (click)="search()">search</mat-icon>
</mat-form-field>

<ng-template [ngIf]="loadFailed">
    <mat-card> {{errorMessage}} </mat-card>
</ng-template>

<ng-template #spinner>
    <div class="spinner-container">
        <mat-spinner [diameter]="spinnerDiameter"></mat-spinner>
    </div>    
</ng-template>

<mat-accordion *ngIf="!isLoading; else spinner">
    <mat-expansion-panel *ngFor="let userTask of userTasks">
        <mat-expansion-panel-header>
            <mat-panel-title>{{ userTask.title }}</mat-panel-title>
            <mat-panel-description> {{ userTask.userTaskTypeId }} </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>{{ userTask.description }}</p>
    </mat-expansion-panel>
</mat-accordion>