<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span>Task Manager</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a mat-button routerLink="/taskAdd">Create</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-form-field appearance="outline" id="userTaskSearch" class="full-width">
    <input matInput
        type="search" 
        name="userTask" 
        id="userTask"
        [(ngModel)]="searchQuery"
        (keydown.enter)="search()"
        autocomplete="off">
    <mat-icon matSuffix (click)="search()">search</mat-icon>
</mat-form-field>

<ng-template [ngIf]="(loadFailed$ | async)">
    <mat-card> {{ errorMessage$ | async}} </mat-card>
</ng-template>

<ng-container *ngIf="!(isLoading$ | async); else spinner">
    <ng-template [ngIf]="!(loadFailed$ | async)">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let userTask of (userTasks$ | async)">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ userTask.title }}</mat-panel-title>
                    <mat-panel-description> {{ userTask.taskType }} </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <p>{{ userTask.description }}</p>
            </mat-expansion-panel>
        </mat-accordion>
        
        <mat-paginator 
            [length]="pagesTotal$ | async"
            [pageSize]="pageSize"
            [pageIndex]="currentPageIndex"
            [pageSizeOptions]="pageSizeOptions"
            (page)="handlePaginatorChange($event)">
        </mat-paginator>
    </ng-template>
</ng-container>

<ng-template #spinner>
    <div class="spinner-container">
        <mat-spinner [diameter]="spinnerDiameter"></mat-spinner>
    </div>    
</ng-template>